.container {
    display:flex;
    gap: 50px

}
.main-content {
    background-color: white;
    width: 970px;
}
.gioithieu {
    width: 970px;
    height: 468px;
}
.tieude {
    width: 500px;
    height: 180px;
    font-size: 30px;
}